
body{
   font-family: Segoe UI;
  background-color: #e6ecf0;

}

.textColorBlack{
text-decoration: none;
  color: #14171a;
}

.textColorBlack:hover{
  text-decoration: underline;
}


.textColorLowBlack{
text-decoration: none;
  color: #657786;
}

.textColorLowBlack:hover{
  text-decoration: underline;
}

.textColorBlue{
text-decoration: none;
  color: #1DA1F2;
}

.textColorBlue:hover{
  cursor: pointer;
  text-decoration: underline;
}

::-webkit-input-placeholder {
  color: #14171a;
}

:-ms-input-placeholder {
  color: #14171a;
}

::-moz-placeholder { 
  color: #14171a;
  opacity: 1;
}

:-moz-placeholder { 
  color: #14171a;
  opacity: 1;
}


.navSearch{
  display: block;
  outline: 0;
  width: 82%;
  height: 65%;
  background-color: #f5f8fa;
  border: 1px solid #e6ecf0;
  border-radius: 41px;
  font-size: 12px;
  color: #14171a;
  padding-left: 10px;
}

.navSearch:focus{
  background-color: #ffffff;
  border: 2px solid #1da1f2;
}
.searchMe{
  position: relative;
  display: inline-block;
}
.searchMe .fa-search{
  color: black;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 15px;
}

/*userinfo*/
.tweetStats:hover{
  cursor:pointer;
  color:#1da1f2;
}

.hoverLink:hover{
  cursor:pointer;
  text-decoration: underline;
}
.refContainer{
  background-color: #f5f8fa;
}
.refContainer:hover{
  background-color: #f4f4f4;
  cursor:pointer;
}
.refreshTweets{
  color:#1da1f2 !important;
  cursor:pointer;
}
.refreshTweets:hover{
}
.feedGrid:hover{
  cursor:pointer;
  background-color: #F5F8FA;
}
.feedAuthor:hover{
  cursor:pointer;
  color:#1da1f2 !important;
  font-size:"14px";
  text-decoration: underline;
}


.cardActionBlue{
  cursor:pointer;
  color:#657786 !important;
  fontSize:"12px";
  fontWeight:600;
}

.cardActionGreen{
  cursor:pointer;
  color:#657786 !important;
  fontSize:"12px";
  fontWeight:600;
}

.cardActionRed{
  cursor:pointer;
  color:#657786 !important;
  fontSize:"12px";
  fontWeight:600;
}


.cardActionBlue:hover{
  cursor:pointer;
  color:#1da1f2 !important;
}

.cardActionGreen:hover{
  cursor:pointer;
  color:#17BF63 !important;
}

.cardActionRed:hover{
  cursor:pointer;
  color:#FF0000 !important;
}

.followMe:hover{
  cursor:pointer;
  color:#1da1f2 !important;
  text-decoration: underline;
}

.smallLinks{
  float: left;
  padding-right: 8px;
}

.smallLinksTwitter{
  float: left;
  padding-right: 8px;
}

.smallLinks:hover{
  cursor:pointer;
  text-decoration: underline;
  color:#1da1f2;
}

.advertiseLink{
  color:#1da1f2;
}


.advertiseLink:hover{
  text-decoration: underline;
  cursor:pointer;
  color:#1da1f2 !important;
}
